<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput type="text" placeholder="Ex. John">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput type="text" placeholder="Ex. Doe">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn">Cancel</button>
  <button mat-raised-button color="primary">Save</button>
</div>