<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput type="text" placeholder="Ex. John">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput type="text" placeholder="Ex. Doe">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Ex. example@site.com">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Birthday</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-radio-group aria-label="Select an option">
      <mat-label>Gender</mat-label>
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Education</mat-label>
      <mat-select>
        <mat-option *ngFor="let val of education" [value]="val">{{ val }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Company</mat-label>
      <input matInput type="text" placeholder="Ex. Yahoo">
    </mat-form-field>
  </div>
  <div class="row">

  </div>

</div>
<div mat-dialog-actions class="dialog">
  <button mat-raised-button color="warn">Cancel</button>
  <button mat-raised-button color="primary">Save</button>
</div>